#landingpage{
    background-image: url(./Assets/pizza-background.jpg);
    background-size: cover;
    height: 800px;
}
.pizzalogo{
    margin-left: 50px;
    margin-top: 20px;
}
#landingpage p{
    color: #9f642e;
     font-size: 30px;
 }
 .header h1{
margin-left: 30px;
color: white;
 }
 .paragraph h1{
     margin-left: 60px;
 }
 .paragraph{
     color: #9f642e;
     margin-top: 20px;
 }
 .paragraph h2{
     margin-left: 155px;
     font-size: 35px;
 }
 .paragraph h3{
     margin-left: 80px;
     font-size: 35px;
 }
 .paragraph h4{
     margin-left: 120px;
     font-size: 35px;
 }
.gallery h1{
 font-size: 25px; 
 color: white; 
 font-style: italic;
 font-weight: 600; 
}
.gallery h2{
    font-style: italic;
    font-size: 30px;
    font-weight: 50;
    margin-left: 80px;
}
.gallery{
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
}
a{
    color: white;
}

div{
    border: 2px dotted red;
}
body{
    background-color: #D05520;
    color: black;
}
#start{
    text-align: center;
    margin-top: 30px;
}
#start img{
    border-radius: 100%;
}
#first-line{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}
#second-line{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}
.footer{
    text-align: center;
    color: #9f642e;
    background-color: grey;
    width: 350px;
    margin-left: 530px;
    border-radius: 100px;
}